{% extends "admin/layout.njk" %}

{% block content %}
  <div class="card">
    <form action="/admin/recipes" method="post">
      <div class="cardCabecalho">
        <h2 class="title-page">Adicionando Receita</h2>
        <div class="buttons">
          <button class="salvar" type="submit">Salvar receita</button>
        </div>
      </div>

      {% include 'admin/fields.njk'%}

    </form>
  </div>
{% endblock content %}