<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% block head %}
      <title>Foodfy</title>
      {% endblock%}
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="/imgs/logo.png" type="image/x-icon"/>
      <link rel="stylesheet" href="/styles.css"/>
    </head>
    <body>
      <header>
        <div class="cabecalho">
          <div class="img">
            <a href="/"><img src="/imgs/logo.png"/></a>
          </div>
          <div class="links">
            <a href="/sobre">Sobre</a>
            <a href="/receitas">Receitas</a>
          </div>
        </div>
      </header>
      {% block content %}{% endblock%}
        <footer>
          <p>Todos os direitos reservados, receitas Foodfy</p>
        </footer>
      </body>
    </html>